
.Sales {
  margin: 1px 611px 0 0;
  font-family: Muli;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #352652;
}

.flex-container {
  position: relative;
  width: 1048px;
  height: 222px;
  margin: 16px 73px 16px 24px;
  display: flex;
  padding: 16px 45px 24px 16px;
  border-radius: 4px;
  border: solid 1px #f6f6f6;
  background-color: #ffffff;
  justify-content: space-around;
  top: 100px;
  left: 300px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-evenly;
}
.flex-item {
  width: 288px;
  align-content: flex-start;
  position: relative;
  top: 25px;
  height: 142px;
  margin: 16px 24px 0 0;
  padding: 16px 0;
  border-radius: 8px;
  box-shadow: 0 -12px 22px 0 rgba(82, 87, 104, 0.05),
    0 12px 22px 0 rgba(82, 87, 104, 0.1);
  border: solid 1px #e8e8ed;
  background-color: #ffffff;
  display: flex;
}
.space-between {
  justify-content: space-evenly;
}
.access_time-24px {
  width: 16px;
  height: 16px;
  margin: 44px 257px 8px 15px;
  object-fit: contain;
  position: relative;
  left: -300px;
  vertical-align: top;
  text-align: left;
 
}
.access_time-24p {
  width: 16px;
  height: 16px;
  position: relative;
  left: -380px;
  margin: 44px 257px 8px 15px;
  vertical-align: top;
  text-align: left;
  object-fit: contain;
}
.access_time-24 {
  width: 16px;
  height: 16px;
  position: relative;
  left: -420px;
  margin: 44px 257px 8px 15px;
  vertical-align: top;
  text-align: left;
  object-fit: contain;
}
.Product-Demo {
  width: 231px;
  height: 38px;
  margin: 0 25px 7px 0;
  text-align: left;
  font-family: Muli;
  font-size: 16px;
  flex: 50%;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #352652;
  white-space: nowrap;
}
.minsRs50 {
  width: 168px;
  height: 15px;
  margin: 7px 40px 0 19px;
  font-family: Muli;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #75737a;
  object-fit: contain;
  position: relative;
  top: 40px;
  left: -150px;
}
.minsRs5 {
  width: 168px;
  position: relative;
  top: 40px;
  left: -230px;
  height: 15px;
  margin: 7px 40px 0 19px;
  font-family: Muli;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  object-fit: contain;
  color: #75737a;
}
.minsRs {
  width: 168px;
  position: relative;
  top: 40px;
  left: -270px;
  height: 15px;
  margin: 7px 40px 0 19px;
  font-family: Muli;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  object-fit: contain;
  color: #75737a;
}

.button {
  width: 2px;
  height: -1px;
  margin: 6px 0 27px 40px;
  padding: 1px 1px 0 17px;
  border-radius: 6.9px;
}
.blackButton {
  background-color: #8660ce;
  color: white;
}

.whiteButton {
  background-color: white;
  color: blue;
}

.linkicon{
  width: 24px;
  height: 24px;
  position: relative;
  top: 80px;
  left: -360px;
  margin: 44px 257px 8px 15px;
  vertical-align: top;
  text-align: left;
  object-fit: contain;
}
.linkicon1{
 width: 24px;
  height: 24px;
  position: relative;
  top: 80px;
  left: -440px;
  margin: 44px 257px 8px 15px;
  vertical-align: top;
  text-align: left;
  object-fit: contain;
}
.linkicon2{
  width: 24px;
  height: 24px;
  position: relative;
  top: 80px;
  left: -480px;
  margin: 44px 257px 8px 15px;
  vertical-align: top;
  text-align: left;
  object-fit: contain;
}

.span-switch {
  margin-bottom: 20px;
  margin-right: 10px;
  flex: 50%;
  padding-right: 10px;
}

.two{
    width: 70px;
    height: 15px;
    margin: 21px 77px 4px 12px;
    font-family: Muli;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #75737a;
    object-fit: contain;
    position: relative;
    top: 105px;
    right: 785px;
    white-space: nowrap;
  
}
.ten{
  width: 70px;
  height: 15px;
  margin: 21px 77px 4px 12px;
  font-family: Muli;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #75737a;
  object-fit: contain;
  position: relative;
  top: 105px;
  right: 865px;
  white-space: nowrap;
}

.five{
  width: 70px;
  height: 15px;
  margin: 21px 77px 4px 12px;
  font-family: Muli;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #75737a;
  object-fit: contain;
  position: relative;
  top: 105px;
  right: 900px;
  white-space: nowrap;
}